@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar dengan ketebalan 1px */
.scrollbar-thin-4px::-webkit-scrollbar {
  width: 4px; /* untuk scroll vertical */
  height: 4px; /* untuk scroll horizontal */
}

.scrollbar-thin-4px::-webkit-scrollbar-thumb {
  background-color: #a0aec0; /* Warna untuk scrollbar */
  border-radius: 9999px; /* Membuat scrollbar lebih halus dan bulat */
}
/* Hide scrollbar for Chrome, Safari, and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Make scrollbar visible again */
.scrollbar-visible::-webkit-scrollbar {
  display: block;
}

.scrollbar-visible {
  scrollbar-width: auto;
}
